*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

body{
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

div{
  border: 2px solid white;
  background-color: rgba(225, 225, 225, 0.4);
  box-shadow: 10px 10px 20px grey;
  margin: auto;
  width: 500px;
  padding: 25px;
  border-radius: 10px;
  border-color: gray;
}

h3{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
}

li{
  list-style: none;
}

form{
  margin-bottom: 20px;
  text-align: center;
}

form input{
  padding: 5px 10px;
  background-color: rgba(220, 220, 220, 0.1);
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  width: 60%;
}

form input::placeholder{
  color: black;
}

form button{
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
}

form button:hover{
  cursor: pointer;
}

ul {
  margin-top: 30px;
}


ul li{
  text-align: right;
  margin-top: 10px;
}

ul li span{
  float: left;
}

ul li input{
  margin-right: 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}

ul li button{
  display: inline-block;
  width: 18px;
  height: 18px;
}

ul li button:hover{
  cursor: pointer;
}

.btn{
  margin-left: 130px;
  margin-top: 20px;
  padding: 10px 20px;
}

.btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
}

form button:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
}

.done {
  text-decoration: line-through;
}